@viewport {
  zoom: 1;
}

/* Simple dashboard grid CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }

/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    /*grid-template-columns: 1fr; /* Side nav is hidden on mobile */
    /*grid-template-rows: 50px 1fr 50px;*/
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }
  
  /* Give every child element its grid name */
  .header {
    grid-area: header;
    background-color: #648ca6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

  .header__heading {
      align-self: center;
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
  } 

/* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
    position: fixed;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    background-color: #DADAE3;
  }

  /* Make room for the menu icon on mobile */
.header__search {
    margin-left: 42px;
  }
  
  /* Mobile-first side nav styles */
.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color:#648ca6;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
}
  

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}


/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  align-items: center;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
*/
.main {
  grid-area: main;
}

.main-background {
  background-image: url(/images/Background.png);
  /*background-size:100% 100%;*/
  /*background-color: whitesmoke;*/
  background-size: cover;
  background-color: white;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* For responsiveness */
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
  opacity: 1;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid #648ca6;
  box-shadow: inset 0 0 0 1px #648ca6;
  border-radius: 25px;
  opacity: 1;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
  opacity: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke !important;
    margin-bottom: 16px;
    -webkit-column-break-inside: avoid;
    padding: 12px;
    opacity: 1;
    /*box-sizing: border-box;*/
}

/* Force varying heights to simulate dynamic content */
/*
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}
*/

.footer {
  grid-area: footer;
  background-color:#648ca6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    /*grid-template-columns: 200px 1fr; /* Show the side nav for non-mobile screens */
    grid-template-columns: 1fr;
    grid-template-areas:
    /*
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    */
      "header"
      "main"
      "footer";
  }

  .sidenav {
      position: relative; /* Fixed position on mobile */
      transform: translateX(0);
    }
  
  .sidenav__close-icon {
      visibility: hidden;
  }
}

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
}

.waiter {
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    animation: blinker 1s linear infinite;
    color:red;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    /*left: 25%;*/
    display: flex;
    justify-content: center; /* justify inner <span> horizontally to the center */
    z-index: 0;
}
  
.waiter span {
    align-self: center; /* justify self vertically in the outer element */
    text-align: center; /* center text inside */
}

.normalize {
    width: initial ;
    height: initial ;
    position: relative;
    top: initial;
    left: initial;
  }

@keyframes blinker {
    50% {
        opacity: 0;
  }
}

